{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
<h1>수정</h1>
<h3>영화 : {{ data.movie_name }}</h3>
<p>평점 : {{ data.grade }}</p>
<p>내용 : {{ data.content }}</p>
<p>{{ data.created_at }} | <span>{{ data.updated_at }}</span></p>

 
<div class="buttons d-flex">
  <a class="me-3" href="{% url 'reviews:update' data.id %}">{% bootstrap_button button_class="btn btn-outline-success" content="수정" %}</a>
  <div>
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      삭제
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you really want to delete it?
          </div>
          <div class="modal-footer">
            <a href="{% url 'reviews:delete' data.id %}">
              <button type="button" class="btn btn-primary">Yes</button>
            </a>  
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}